/* Root variables
   --blue: Główny kolor niebieski używany w stylach.
   --black-color: Czarny kolor używany dla tekstu lub tła.
   --white-color: Biały kolor używany dla tekstu lub tła.
   --gray-color: Szary kolor używany jako neutralny lub dla tekstu.
   --red-color, --red2-color: Odcienie czerwonego używane dla akcentów lub przycisków.
   --first-color do --ten-color: Paleta kolorów używana w projekcie dla różnych elementów.
*/

/* Animations
   @keyframes pulse: Definicja animacji pulsowania dla elementów.
   @keyframes fadeOut: Animacja wygaszania elementów na stronie.
   @keyframes animacja1: Animacja obrotu 360 stopni.
   @keyframes animacja2: Animacja zmniejszenia skali elementu.
   @keyframes animacja3: Animacja obrotu -360 stopni (w przeciwnym kierunku).
   @keyframes animacjaX: Kombinacja animacji obrotu i zmiany skali.
   @keyframes rocking: Animacja kołysania elementu.
   @keyframes blink-animation: Animacja zmiany tła elementu.
   @keyframes slideInOut: Animacja przesuwania elementu.
   @keyframes typing: Symulacja animacji pisania maszynowego.
   @keyframes blink: Animacja migania kursora.
   @keyframes neon1: Animacja efektu neonowego tekstu.
*/

/* Global settings
   *: Resetowanie marginesów i paddingów oraz ustawienie box-sizing na border-box.
   body: Definicja podstawowych stylów dla całej strony.
   img: Uniwersalne ustawienia dla obrazków, takie jak szerokość, wysokość i zachowanie proporcji.
*/

/* Components
   .header: Stylizacja głównego nagłówka strony.
   .blur-background: Styl dla rozmytego tła w nagłówku.
   .logoTrans: Animacja i styl dla logo z efektem przejścia.
   .circle: Styl dla elementu okrągłego, często używanego dla logo lub avatara.
   .loading-top, .loading-bottom: Style dla pasków ładowania na górze i dole strony.
   .header__text: Stylizacja tekstu w nagłówku.
   .wrapper: Uniwersalny wrapper dla centrowania elementów.
   .navbar: Stylizacja paska nawigacyjnego.
   ... (Reszta komentarzy dotycząca poszczególnych komponentów i ich stylów)
*/

/* Media queries
   Definicje zachowania stylów na różnych szerokościach ekranu.
   Szczególnie ważne dla responsywności strony.
   Zawiera różne punkty przełamania dla różnych typów urządzeń.
*/


/* Root variables
   Zmiennne globalne do przechowywania kolorów i innych często używanych wartości.
   Możliwe do użycia w całym arkuszu stylów dla łatwego dostępu i zmiany.
*/
:root{
  --primary-color: #000;
  --secondary-color: #fff;
  --nav-color: #7c4200;
  --linav-color: #b15f01;
  --lilinav-color: #da7400;
  --lililinav--color: #ff8800;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #3f3f3f;
  --color-grayLight: #6e6e6e;
  --color-grayLight2: #afafaf;
  --color-grayLight3: #b9b9b9;
  --color-bg: #ccc;
  --color-red:red;
  --color1: #383838;
  --color2: #3a3a3a;
  --color3: #292929;
  --color11: #3a3a3a;
  --bg-color: #d1c6c6;
  --bg2-color: #6693af;
  --blue: #0033a0;
  --black-color: #000;
  --white-color: #fefefe;
  --gray-color: gray;
  --red-color: #f55;
  --red2-color: #f40;
  --first-color: #193242;
  --second-color: #375465;
  --third-color: #183141;
  --fourth-color: #1a3344;
  --fifth-color: #385566;
  --sixth-color: #355264;
  --seventh-color: #1d384a;
  --eighth-color: #1e394b;
  --ninth-color: #395667;
  --ten-color: #203a4d;
}

@keyframes swingdown {
  0% {
    opacity: 0.99999;
    transform: rotateX(90deg);
  }
  30% {
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
}

@keyframes show-cookies {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  50% {
      transform: scale(1.1);
      opacity: 0.7;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes fadeOut {

  0%,
  10% {
      opacity: 1;
      visibility: visible;
  }

  90%,
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes animacja1 {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes animacja2 {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(0.5);
  }
}

@keyframes animacja3 {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(-360deg);
  }
}

@keyframes animacjaX {
  0% {
      transform: rotate(0deg) scale(1);
  }

  100% {
      transform: rotate(360deg) scale(0.5);
  }
}

@keyframes rocking {
  0% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-25deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

@keyframes blink-animation {
  from {
      background-image: url("../img/logo1transparent.webp");
  }

  to {
      background-image: url("../img/logo2transparent.webp");
  }
}

@keyframes slideInOut {
  0%, 100% {
      opacity: 0;
      transform: translateY(-100%);
  }
  10%, 90% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {
      border-color: transparent
  }
}

@keyframes neon1 {
  from {
      text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #ff1177,
      0 0 70px #ff1177,
      0 0 80px #ff1177,
      0 0 100px #ff1177,
      0 0 150px #ff1177;
  }
  to {
      text-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #ff1177,
      0 0 35px #ff1177,
      0 0 40px #ff1177,
      0 0 50px #ff1177,
      0 0 75px #ff1177;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

#nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding:10px 0;
  background-color: var(--nav-color);
  padding: 15px 0 15px 0;
  text-align: center;
  border-top: 0.5px solid var(--color-black);
  border-bottom: 0.5px solid var(--color-black);
}

#menu{
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 15px;
  height: 35px;
  line-height: 200%;
}

#menu a{
  color: var(--color-white);
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

#menu > li{
  position: relative;
  float: left;
  width: 150px;
  height: 40px;
  border-right: 1px dotted var(--color-white);
}

#menu > li:last-child{
  border-right: none;
}

#menu > li:hover{
  background-color: var(--linav-color);
}

ol > li:hover > a{
  color: var(--color-grayLight);
}

#menu > li > ul {
  display: none;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--linav-color);
  border-bottom: 1px dotted var(--color-black);
  z-index: 100;
}

#menu > li:hover > ul{
  padding: 15px 0;
  display: block;
  animation-name: swingdown;
  animation-duration: 1s;
  animation-timing-function: ease;
}

#menu > li > ul > li:hover{
  background-color: #da7400;
}
#menu > li > ul > li:last-child{
  border-bottom: none;
}

#menu > li > ul > li > ul{
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 150px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px dotted var(--color-black);
  background-color: var(--lilinav-color);
  z-index: 100;
}


#menu  > li > ul > li > ul > li:hover{
  background-color: var(--lililinav--color);
}

#menu > li > ul > li:hover > ul{
  display: flex;
  flex-direction: column;
}

#hamburger {
  display: none;
}

input#toggle {
  display: none;
}

.cart-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#cartCount {
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 0.8em;
}

.blur-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-photo.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container,
.content {
  width: 100%;
  font-size: 20px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container.hidden,
.content.hidden {
  display: none;
}

.input {
  font-family: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid #eaeaea;
  line-height: inherit;
  margin: 25px 0;
  text-align: center;
  background: none;
}

.button {
  border: 2px solid var(--color-black);
  outline: none;
  padding: 10px 10px;
  color: var(--color-black);

  font-family: inherit;
  line-height: inherit;

  display: block;
  margin: 25px auto;

  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  color: var(--color-red);
  background: var(--primary-color);
}

.message {
  text-align: center;
  /* margin: 25px 0; */
  margin: 0 auto;

  max-width: 400px;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  background-color: #e74c3c;
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-top: 20px;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  transition: all 0.5s ease-in;
}

.clock-div {
  margin-bottom: 80px;
}
.input {
  color: var(--primary-color);
}

h3{
  font-weight: bold;
}
.forecast{
  font-size: 0.9em;
}
span{
  font-size: 1em;
}
li:hover{
  background-color: lightslategray;
  text-decoration: underline;
}

.col-row{
  width: 100%;
}

.containerApi {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.szukaj{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.col{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 236, 239, 0.5);
  padding: 10px;
  margin-top: 10px;
}

.col-sm{
  width: 200px;
  margin: 0 1.5%;
  padding: 0;
}

.col-sm p{
  font-weight: bold;
  color:#000;
}

.row{
  display: flex;
  margin-left: 17%;
  flex-direction: column;
  width: 70%;
}

.col-smain{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row img{
  background-color: azure;
  border-radius: 10px;
}

.row1{
  display: flex;
  width: 100%;
}

.col-row h3{
  font-weight: bold;
}

.col-row p {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

.col-smain h3{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20px;
  min-width: 150px;
}

#search-city{
  border-radius: 0.25rem;
  border: 0.5px solid #ced4da;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 35px;
  text-align: left;
  padding: 10px;
  width: 326px;
}

.City {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.input-group {
  display: flex;
  margin-bottom: 1rem;
}

.btn-primary {
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 35px;
  width: 35px;
  font-size: 1.2rem;
  background-color: #292929;
  border: 0px;
}

.btn-primary:hover{
  background-color: #6b6b6b;
}

.btn-mt-2{
  padding: 8px 10px;
  border-radius: 0.25rem;
  color: white;
  width: 150px;
  background-color: #292929;
}

.btn-mt-2:hover{
  color: rgb(199, 199, 199);
  background-color: #6b6b6b;
}

.list-group{
  padding: 0 10px;
  list-style: none;
}
.list-group li{
  padding: 10px;
  background-color: #9c9fa1;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#current-weather,
#future-weather {
  background-color: rgba(233, 236, 239, 0.5);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 1rem;
}

.city-name {
  font-size: 1.75rem;
  color: #333;
}

.current {
  font-weight: bold;
}

#future-weather h3 {
  margin-bottom: 1rem;
}

.col-sm {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#future-weather .col-sm {
  background-color: #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.logoTrans {
  width: 240px;
  height: 240px;
  background-image: url("../img/logo1transparent.webp");
  background-size:contain;
  animation: blink-animation 6s infinite alternate;
  transition: all 0.3s ease;
}

.logoTrans:hover {
  transform: scale(1.05);
}

main {
  flex: 1;
  width: 100%;
}

#hamburger {
  display: none;
}

input#toggle {
  display: none;
}

.cart-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#cartCount {
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 0.8em;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

.photoFirst img,
.photoSecond img {
  width: 300px;
  height: 300px;
}

label.button {
  border: 0px;
  width: 200px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  color: var(--red-color);
  margin-left: 1rem;
  transition: transform 2s;
}

label.button:hover,
.promo-text a:hover {
  color: var(--red2-color);
  transform: scale(1.2);
  cursor: pointer;
  text-decoration: none;
}

.photoFirst {
  margin-left: 100px;
  margin-top: 20px;
  display: grid;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.buttonFoto {
  cursor: pointer;
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  text-decoration: none;
}

.buttonFoto:hover {
  background-color: var(--red2-color);
  text-decoration: underline;
  cursor: pointer;
}

#toggleImages {
  display: none;
}

#toggleImages:checked ~ #showMoreButton {
  display: none;
}

#toggleImages:checked ~ #showLessButton {
  display: block;
}

#toggleImages:checked ~ .photoSecond {
  display: grid;
}

.photoSecond {
  justify-items: center;
  gap: 10px;
  margin-top: 20px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

#showLessButton {
  display: none;
}


#photos1:hover {
  animation-name: animacja1;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#photos2:hover {
  animation-name: animacja2;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#photos3:hover {
  animation-name: animacja3;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.photosX:hover {
  animation-name: animacjaX;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.logoCat {
  width: 140px; 
  height: auto; 
  position: relative; 
  z-index: 1; 
  animation-name: animacja1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.glasses {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);  
  z-index: 2; 
  width: 140px; 
  height: auto; 
  transition: all 0.3s ease;
}

.glasses:hover {
  transform: scale(1.1);
}
.glasses:nth-of-type(2) {
  animation-delay: -1.8s;
}
.glasses:nth-of-type(3) {
  animation-delay: -0.25s;
}
.glasses:nth-of-type(4) {
  animation-delay: 1.25s;
}
.glasses:nth-of-type(5) {
  animation-delay: 2.65s;
}

.product-grid {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-image img {
  width: 300px;
}

.product-item {
  flex-basis: calc(50% - 20px);
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  float: left;
  margin: 10px 0;
  margin-right: 10px;
  border: 1px solid var(--white-color);
}

.product-item img {
  margin: 10px;
  max-width: 100%;
  height: 300px;
}

.product-description {
  padding: 10px;
}

.product-content {
  flex-basis: 50%;
  padding-left: 20px;
  text-align: left;
}

.product-content h3 {
  margin-right: 5px;
}

.details-button{
  margin-right: 5px;
  text-align: center;
  width: 200px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--color-gray);
  color: var(--gray-color);
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
}

.details-button:hover, .details-button1:hover {
  background-color: var(--grayLight-color);
  color: var(--white-color);
  text-decoration: underline;
  cursor: pointer;
}


.section__heading,
.about-us__text,
.about-us__img {
  transition: transform 0.3s ease;
}


.section__heading:hover,
.about-us__text:hover,
.about-us__img:hover {
  transform: scale(1.1);
}


.section__heading {
  font-size: 2rem;
  color: var(--red-color);
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
  margin-left: 1rem;
  margin-right: 10px;
}

.section__heading:hover {
  transform: scale(1.2);
}

.about-us__textbox {
  max-width: 80vw;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.about-us__text {
  text-align: justify;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--eighth-color);
  transition: transform 0.2s;
}

.about-us__test:hover {
  transform: scale(1.2);
}

.about-us__link {
  color: var(--red-color);
  text-decoration: underline;
  transition: transform 0.2s;
}

.about-us__link:hover {
  transform: scale(1.2);
}

.about-us__box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
  transition: transform 0.2s;
}

.about-us__box:hover {
  transform: scale(0.8);
}

.about-us__img {
  width: 80%;
  max-width: 300px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-bottom: 1rem;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--white-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--gray-color);
  width: 80%;
}

.close {
  color: var(--gray-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalCheck:checked ~ .modal {
  display: block;
  animation: fadeOut 3s forwards;
}


.product-item4 img {
  margin-top: 20px;
}

.product-item4 {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.product-item4 img {
  width: 100%;
  height: auto;
  display: block;
}

.info-box {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-box h2 {
  margin-bottom: 10px;
}

.price2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  font-weight: normal;
  margin-left: 10px;
}

.details-button2 {
  text-decoration: none;
  color: var(--black-color);
  border: 1px solid var(--black-color);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.details-button2:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.collection {
  font-family: Roboto, sans-serif;
  flex-direction: row;
  gap: 1em;
}

.collection__btn {
  position: relative;
  transition: 0.4s;
  overflow: hidden;
}

.collection__btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: none;
}

.collection__btn:hover:after {
  left: 100%;
  transition: 0.8s;
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 6em 0.5em;
}

.collection__men,
.collection__women,
.collection__kids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 350px;
  padding: 1em 0;
}

.collection__men,
.collection__kids {
  background-color: var(--fifth-color);
}

.collection__heading {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: #ffffff;
}

.collection__btn {
  position: relative;
  padding: 0.7em 1.7em;
  background: transparent;
  text-decoration: none;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  text-transform: uppercase;
  border-radius: 5px;
}

.collection__women {
  background-color: var(--red-color);
}

.collection__img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.slides img {
  width: 260px;
  height: 400px;
}

.slides img:hover {
  animation: pulse 2s infinite;
}

.slides img:hover ~ .slide-description {
  animation: pulse 2s infinite;
}

div.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 10px;
  margin-bottom: 30px;
}

.slider-radio {
  display: none;
}

.slider-label {
  color: var(--red-color);
  text-decoration: underline;
  transition: transform 0.2s;
}

.slider-label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--white-color);
  margin: 0 5px;
  cursor: pointer;
}

.slider-radio:checked + .slider-label {
  background: var(--black-color);
}

.slider-controls > a:hover,
.slider-controls > a:focus,
.slider-nav > div:target {
  background: var(--black-color);
}

.slider {
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding: 20px 0;
  width: 100vw;
  overflow: hidden;
}

.slide {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 260px;
  margin: 0 0px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.slides {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  padding: 20px 0;
}

.slide {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 260px;
  margin: 0 25px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#tooltip .icon {
  margin: 0 10px;
  color: var(--white-color);
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 10px;
}

.icon:hover {
  transform: scale(1.2);
}

.icon {
  margin: 10px;
}


.product-grid1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-grid2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-item1 {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 200px;
  background-color: var(--white-color);
}

.product-item1 img {
  width: 30px;
  height: auto;
}

span .price {
  margin-right: 20px;
}

.price-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 150px;
  width: 20px;
}

.details-button-x{
  margin-right: 5px;
  width: 150px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--black-color);
  color: var(--black-color);
  background-color: var(--white-color);
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
}


.details-button-x:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  text-decoration: underline;
  cursor: pointer;
}

.h3 {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.product-item1 img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-description {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 100%;
  padding: 10px;
  background-color: rgba(180, 49, 49, 0.5);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  box-sizing: border-box;
}

.product-name,
.price {
  margin: 0;
}

.price {
  font-weight: bold;
}

.offer {
  display: flex;
  background-color: var(--seventh-color);
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 2em 0;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
}

.offer__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.offer__content {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.offer__heading {
  padding: 0 0.3em;
  letter-spacing: 1.4px;
  font-size: 3.1rem;
  font-weight: 800;
  background-color: var(--white-color);
  color: var(--black-color);
}

.offer__title {
  margin: 15px;
  text-align: center;
  font-size: 3.7rem;
  font-weight: 700;
  color: var(--black-color);
  background-color: var(--white-color);
}

.offer__text {
  max-width: 300px;
  margin-bottom: 1em;
  text-align: center;
  color: var(--black-color);
  background-color: var(--white-color);
}

.offer__btn {
  display: block;
  padding: 0.7em 1.7em;
  background-color: var(--red2-color);
  border-radius: 20px;
  color: var(--white-color);
}

.offer__img{
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 4em 0;
  animation: rocking 10s infinite;
  transform-origin: center;
}

.service {
  padding: 3em 0;
  gap: 10px;
}

.service__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.service__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 10px;
}

.service__box img {
  width: 70px;
  height: 70px;
}

.service__title {
  font-family: Roboto, sans-serif;
}

.service__truck {
  margin-right: 5px;
}

.load-more-container {
  text-align: center;
  margin: 20px 0;
}

.load-more-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: var(--red-color);
  padding: 0.7rem 2rem;
  border-radius: 5px;
  transition: transform 0.2s;
  border: none;
}

.newsletter-signup-section {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  margin-left: 20px;
}

.newsletter-signup-container {
  width: 100%;
}

.newsletter-content {
  text-align: left;
}

.newsletter-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.newsletter-description {
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  float: right;
}

.newsletter-input {
  padding: 10px;
  width: 150px;
  border: 1px solid var(--white-color);
}

.newsletter-submit-btn {
  background-color: var(--red-color);
  border: 1px solid var(--black-color);
  cursor: pointer;
}

.newsletter-submit-btn img {
  width: 20px;
  height: auto;
}

.load-more-btn:hover {
  background-color: var(--red2-color);
  text-decoration: underline;
}

.load-more-btn a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  transition: transform 0.2s;
  text-decoration: none;
}

footer {
  padding-top: 1rem;
  background-color: #7c4200;
  color: var(--white-color);
  text-align: center;
  width: 100%;
}

#socialmedia{
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer__text {
  font-size: 1.2rem;
  color: var(--white-color);
}

.footer__link {
  color: var(--red-color);
  text-decoration: underline;
  transition: transform 0.3s ease;
}

.footer__link:hover {
  transform: scale(1.2);
  color: var(--red2-color);
}

.footer__link:visited {
  color: rgba(0, 0, 0, 0.7);
}

footer img {
  width: 30px;
  height: 30px;
  margin: 10px;
  transition: all 0.3s ease;
}

footer img:hover {
  transform: scale(1.2);
}

.cookie {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35%;
  padding: 2em 0;
  background-color: rgb(37, 37, 37);
  color: #ffffff;
  z-index: 9;
  opacity: 0;
  animation: show-cookies 0.5s 0.5s forwards;
  transform: translateY(100%);
}
.cookie__box {
  max-width: 500px;
  height: 30px;
}
.cookie__title {
  margin-bottom: 0.7em;
  width: 50%;
  font-size: 2rem;
}
.cookie__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.cookie__img {
  font-size: 3rem;
}
.cookie__text {
  margin-bottom: 1em;
  font-size: 0.7rem;
}
.cookie__btn {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7em 1.7em;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
}


.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 350px;
  border-radius: 15px 15px 0 0;
  background: #ffffff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.chat-header {
  padding: 10px;
  background: #b15f01;
  color: white;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-content {
  display: none;
  padding: 20px;
  text-align: center;
}

.przycisk{
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b15f01;
  color: white;
}

.expanded .chat-content {
  display: block;
}

.dark-mode .chat-header {
  background: #343a40;
}

.dark-mode .chat-container {
  background: #495057;
}

.dark-mode button {
  background-color: #5a6268;
}

.quote-style {
  padding: 10px;
  margin: 10px 0;
  border-left: 3px solid #b15f01;
  font-style: italic;
  display: inline-block;
  color: #000;
  background-color: #f0f0f0;
}

@media (max-width:1200px) {
  .collection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5em;
      padding: 6em 0.5em;
      margin-bottom: 5em;
  }
}

@media (max-width: 1100px){
  .row{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      flex-direction: column;
  }

  .szukaj{
    width: 50%;
    gap:10px;
  }

    .col-smain {
      width: 80%;
      display: flex;
      flex-direction: column;
  }

  .row1 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

  .col-sm{
    width: 97%;
    margin: 0 1.5%;
    padding: 0;
  
  }

  .col-row{
    min-height: 300px;
    min-width: 400px;
  }

  .col{
    width: 70%;
  }
}

@media (min-width: 1000px) {


  .photoFirst {
      margin-left: 0px;
      justify-items: center;
      grid-template-columns: repeat(3, 250px);
  }
	
  .photoSecond {
      margin-left: 0px;
      justify-items: center;
      grid-template-columns: repeat(3, 250px);
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {

  #hamburger {
    display: flex;
    color: var(--white-color);
    text-decoration: none;
    transition: transform 0.2s;
    padding: 0px 10px;
    font-size: 1.5rem;
  }

  #toggle {
      display: none;
      border: 0px;
  }

  #toggle:checked ~ #menu {
      display: flex;
  }

  #menu {
      display: none;
  }

  .col-row{
    min-height: 200px;
    min-width: 300px;
  }

  #search-city{
    width: 150px;
  }

  .photoFirst,
  .photoSecond {
      margin-left: 0px;
      margin-right: 60px;
      grid-template-columns: repeat(2, 250px);
  }

  .product-grid1,
  .product-grid2 {
      display: none;
  }

  .product-grid,
  .product-grid1,
  .product-grid2 {
      flex-direction: column;
  }

  .product-item,
  .product-item1 {
      height: 50%;
      margin-right: 10px;
  }

  .product-item img {
      width: 100px;
      height: 100px;
  }

  .details-button,
  .details-button2, .details-button1 {
      width: 150px;
      margin: 10px;
  }


}

@media (max-width: 768px) {

  .cookie{
    height: 45%;
  }

  #hamburger {
    display: flex;
    color: var(--white-color);
    text-decoration: none;
    transition: transform 0.2s;
    padding: 0px 10px;
    font-size: 1.5rem;
  }

  #toggle {
      display: none;
      border: 0px;
  }

  #toggle:checked ~ #menu {
      display: flex;
  }


  .col-row{
    min-height: 200px;
    min-width: 300px;
  }

  #search-city{
    width: 150px;
  }

  #menu {
      display: none;
  }

  .product-grid{
    flex-direction: column;
  }

  .containerApi {
      width: 95%;
  }
  .photoFirst,
  .photoSecond {
      margin-left: 0px;
      grid-template-columns: repeat(2, 300px);
      justify-items: center;
  }

  .about-us__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      transition: transform 0.2s;
  }

  .about-us__img {
      width: calc(50% - 1rem);
  }

  .product-grid1,
  .product-grid2 {
      display: none;
  }

  .details-button,
  .details-button2, .details-button1 {
      width: 150px;
      margin: 10px;
  }


  .price {
      font-weight: bold;
      font-size: 1.5em;
  }

  .price2 {
      display: none;
  }

  .info-box p {
      display: none;
  }

  .info-box h2 {
      text-align: center;
      width: 165px;
      font-size: medium;
  }

  .info-box {
      padding-top: 5px;
      width: 200px;
      height: 140px;
  }
}

@media (max-width: 650px) {

  #menu > li > ul {
    display: none;
    top: -100px;
  }
  
  #menu > li:hover > ul{
    margin-left:50px;
  }

  .toggle{
    margin-top: 5px;
  }

  #menu > li > ul > li > ul{
    width: 50px;
  }

  #hamburger {
    margin-left: 6px;
    display: flex;
    color: var(--white-color);
    text-decoration: none;
    transition: transform 0.2s;
    padding: 0px 10px;
    font-size: 1.5rem;
  }

  #toggle {
      display: none;
      border: 0px;
  }

  #toggle:checked ~ #menu {
      display: flex;
      flex-direction: column;
  }

  #menu a, #menu li{
    width: 50px;
    margin-bottom: 7px;
    background-color: #7c4200;
    border-right: 0px;
  }


  .col{
    width: 300px;
  }
  .col-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
  }

  .row img{
    margin-left: 80px;
  }
  
  .col-row p{
    text-align: center;
  }

  #search-city{
    width: 150px;
  }

  .szukaj{
    display: flex;
    flex-direction: column;
  }
  
  .offer__heading {
    padding: 0 0.3em;
    letter-spacing: 1.4px;
    font-size: 1.1rem;
    font-weight: 800;
    background-color: var(--white-color);
    color: var(--black-color);
}

.offer__title {
    margin: 15px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--black-color);
}

.offer__text {
    max-width: 100px;
    margin-bottom: 1em;
    text-align: center;
    color: var(--black-color);
}

.offer__img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    padding: 4em 0;
    animation: rocking 10s infinite;
    transform-origin: center;
}

.service__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

.photoFirst,
.photoSecond {
    margin-left: 0px;
    grid-template-columns: repeat(1, 300px);
    justify-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 40%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--white-color);
    margin: 50% auto;
    padding: 20px;
    border: 1px solid var(--gray-color);
    width: 80%;
}

.product-item img {
    margin: 10px;
    max-width: 100%;
    height: 150px;
    width: 150px;
}
}
